<div id='about'>
  <h2>HOW SQDUP WORKS</h2>
  <div class='wrapper'>
    <div class='about-item large-4 columns'>
      <h3>DISCOVER</h3>
      <div class='line-sep'></div>
      <p>Create a profile with your gaming preferences, including play and mic styles. </p>
    </div>
    <div class='about-item large-4 columns'>
      <h3>MATCH</h3>
      <div class='line-sep'></div>
      <p>Get matched to compatible gamers based on your gaming preferences. </p>
    </div>
    <div class='about-item large-4 columns'>
      <h3>PLAY</h3>
      <div class='line-sep'></div>
      <p>When you find someone you want to play with, send a ‘Sup to get the ball rolling!</p>
    </div>
  </div>
  <div class='clearfix'></div>
  <h2 class='mid-header'>WHY SQDUP WORKS</h2>
  <h3 class='subtext'>Gaming online is so much better with friends than with randoms.</h3>
  <div class='about-works wrapper'>
    <div class='about-item large-6 columns'>
      <p>"Playing video games is a great way to decompress from the busy work day. I don't know many people who play video games, but would like to make some online friends to play with. Currently, it’s not that easy to make new friends online."<br/>JUSTIN, 26</p>
    </div>
    <div class='about-item large-6 columns'>
      <p>"Every game is a new game when you play live opponents and with friends. I’m a bit older and can spare fewer hours to play now. So I want to make sure that when I play, my friends are in the server too. I prefer not to play with randoms."<br/>DAVE, 31</p>
    </div>
  </div>
  <div class='clearfix'></div>
  <div id='index'>
    <a href='#' class='button-trans button' data-reveal-id="signUpModal">SQD UP</a>
  </div>
</div>

<%= render 'signup_modal' %>