<div class='row'>
  <h1>Never Game Alone</h1>
  <a href="#" data-reveal-id="signUpModal">SqdUp</a>

  <div id="signUpModal" class="reveal-modal" data-reveal>
    <a class="close-reveal-modal">&#215;</a>
    <%= form_for @signup_request do |f| %>
      <%= f.label 'Email' %>
      <%= f.text_field :email %>
      <%= f.submit %>      
    <% end %>
  </div>
</div>
