<div class='row'>
  <div id='index'>
    <h1>SQD UP</h1>
    <h2>Never Game Alone</h2>
    <a href='#' class='button-trans button' data-reveal-id="signUpModal">SQD UP</a>
  </div>
  
  <div id="signUpModal" class="reveal-modal" data-reveal>
    <h2>Login</h2>
    <a class="close-reveal-modal">&#215;</a>
    <div class='user-form'>
      <%= render 'devise/sessions/new' %>
    </div>
    <div class='signup-path'>Wanna join? Squad up <a href='#'>here!</a></div>
  </div>
</div>