<div id='messages'>
  <h2>Messages</h2>
  <div class='messages-container'>
    <%= render 'sidenav' %>

    <div class='messages-index'>
      <%= render 'index' %>
    </div>
    <div class='clear'>
    </div>
  </div>
</div>