<div class='play-schedule-select'>
  <div class='day'>
    <h4>MONDAY</h4>
    <div class="time-range">
      <span id='startTime'>6am</span> - <span id='endTime'>6pm</span>
    </div>
    <div class="slider-range"></div>
    <a href='#' class='confirm-day button'> Okay </a>
  </div>
  <div class='day'>
    <h4>TUESDAY</h4>
    <div class="time-range">
      <span id='startTime'>6am</span> - <span id='endTime'>6pm</span>
    </div>
    <div class="slider-range"></div>
    <a href='#' class='confirm-day button'> Okay </a>
  </div>
  <div class='day'>
    <h4>WEDNESDAY</h4>
    <div class="time-range">
      <span id='startTime'>6am</span> - <span id='endTime'>6pm</span>
    </div>
    <div class="slider-range"></div>
    <a href='#' class='confirm-day button'> Okay </a>
  </div>
  <div class='day'>
    <h4>THURSDAY</h4>
    <div class="time-range">
      <span id='startTime'>6am</span> - <span id='endTime'>6pm</span>
    </div>
    <div class="slider-range"></div>
    <a href='#' class='confirm-day button'> Okay </a>
  </div>
  <div class='day'>
    <h4>FRIDAY</h4>
    <div class="time-range">
      <span id='startTime'>6am</span> - <span id='endTime'>6pm</span>
    </div>
    <div class="slider-range"></div>
    <a href='#' class='confirm-day button'> Okay </a>
  </div>
  <div class='day'>
    <h4>SATURDAY</h4>
    <div class="time-range">
      <span id='startTime'>6am</span> - <span id='endTime'>6pm</span>
    </div>
    <div class="slider-range"></div>
    <a href='#' class='confirm-day button'> Okay </a>
  </div>
  <div class='day'>
    <h4>SUNDAY</h4>
    <div class="time-range">6am - 6pm</div>
    <div class="slider-range"></div>
    <a href='#' class='confirm-day button'> Okay </a>
  </div>
</div>