<div id='profile'>
  <h2>PROFILE</h2>
  <a href='<%= friendships_path %>'>
    <div class='friends profile-link'>
      <h3>YOUR FRIENDS</h3>
    </div>
  </a>
  <a href='<%= edit_play_schedule_path %>'>
    <div class='play-schedule profile-link'>
      <h3>PLAY SCHEDULE</h3>
    </div>
  </a>
    <a href='<%= edit_game_preferences_path %>'>
    <div class='game-prefs profile-link'>
      <h3>GAME PREFERENCES</h3>
    </div>
  </a>
    <a href='<%= edit_account_details_path %>'>
    <div class='account-details profile-link'>
      <h3>ACCOUNT DETAILS</h3>
    </div>
  </a>
</div>

