<div id='matches'>
  <h2>Here Are Your Matches:</h2>
  <ul id='match-list'>
    <% @matches.each_with_index do |match,index| %>
    <li class='small-12 large-4 columns'>
      <div class='match-container'>
        <%= render partial: 'show', locals: {match: match} %>
        <%= form_for @friend_requests[index], url: friend_requests_path do |f| %>
          <%= f.hidden_field :recipient_id, value: match.id %>
          <%= f.submit 'SUP', class: 'button' %>
        <% end %>
      </div>
    </li>
    <% end %>
  </ul>
</div>