#matches{
  h2{
    text-align: center;
  }
  #match-list{
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    li{
      vertical-align: top;
      display: inline-block;
      padding: 10 15px;
      text-align: center;
      .match-container{
        background-color: #fff;
        margin: 0 auto;
        padding: 10px;
        h2{
          padding: 30px 0 0;
          font-size: 30px;
        }
        h3{
          margin-bottom: 0px;
        }
        .sep{
          width: 70%;
          border-bottom: 5px solid #000;
          margin: 0 auto 20px;
        }
        p{
          margin: 0;
        }
        .key-match-data{
          margin-bottom: 20px;
          p{
            em{
              font-weight: 800;
            }
          }
        }
        .common-interests{
          margin-top: 20px;
          margin-bottom: 20px;
        }
        .button{
          width: 85%;
          background-color: transparent;
          color: $accent-color;
          border: 4px solid $accent-color;
          font-size: 27px;
          padding: 9px;
        }
        .button:hover{
          background-color: $accent-color;
          color: #fff;
        }
        
      }
    }
  }
}