html, body, .off-canvas-wrap, .inner-wrap, .main-section{
  height: 5000px;
  // height: 100%;
}
.right-off-canvas-toggle{
  float: right;
  padding: 4px;
  margin: 17px 17px 0 0;
  i{
    color: #fff;
    font-size: 29px;
  }
}

i{
  color: #fff;
}

#logo{
  text-align: center;
  h1{
    color: #fff;
    font-weight: 700;
    font-size: 50px;
  }
  a{
    color: #fff;
  }
}
#logo.hide{
  display: none;
}


#notificationContainer {
background-color: #fff;
border: 1px solid rgba(100, 100, 100, .4);
-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
overflow: visible;
position: absolute;
top: 205px;
right:-140px;
margin-left: 0;
width: 300px;
z-index: 9999;
display: none;
}
.notifications a:link {
    font-weight:bold !important;
}
#notificationContainer:before {
content: '';
display: block;
position: absolute;
width: 0;
height: 0;
color: transparent;
border: 10px solid black;
border-color: transparent transparent white;
margin-top: -20px;
margin-left: 188px;
}
#notificationTitle {
z-index: 1000;
font-weight: bold;
padding: 8px;
font-size: 13px;
background-color: #ffffff;
width: 284px;
border-bottom: 1px solid #dddddd;
}
#notificationsBody {
padding: 0 0px 0 10px !important;
height:120px;
overflow-y: scroll;
margin-bottom:25px;
margin-top:20px;
}