html, body, .off-canvas-wrap, .inner-wrap, .main-section{
  height: 5000px;
  // height: 100%;
}
.right-off-canvas-toggle{
  float: right;
  padding: 4px;
  margin: 17px 17px 0 0;
  i{
    color: #fff;
    font-size: 29px;
  }
}

i{
  color: #fff;
}