html, body, .off-canvas-wrap, .inner-wrap, .main-section{
  height: 5000px;
  // height: 100%;
}
.right-off-canvas-toggle{
  float: right;
  padding: 4px;
  margin: 17px 17px 0 0;
  i{
    color: #fff;
    font-size: 29px;
  }
}

i{
  color: #fff;
}

#logo{
  text-align: center;
  h1{
    color: #fff;
    font-weight: 700;
    font-size: 50px;
  }
}
#logo.hide{
  display: none;
}