// Place all the styles related to the SignUpRequest controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.signup-view{
  .signup-orbit{
    margin-top: 100px;
    height: 400px;
  }
}