// Place all the styles related to the SignUpRequest controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.signup-view{
  text-align: center;
  color: #fff;
  h1{
    color: #fff;
    font-size: 80px;
    font-weight: 800;
    margin: 0 auto;
  }
  h2{
    color: #fff;
    font-size: 40px;
    margin-top: 24px;
  }
  h3{
    margin-top: 25px;
    margin-bottom: 0px;
    color: #fff;
    font-size: 30px;
    font-weight: 100;
  }
  .banner { 
    position: 
    relative; 
    overflow: 
    auto;
    ul{
      margin: 0;
    } 
  }
  .banner li { 
    list-style: none; 
  }
  .banner ul li { 
    float: left; 
  }
  .game-select{
    width: 30%;
    margin: 20px;
  }
  select[name='user[game_id]']{
    display: none;
  }
  .button{
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 20px;
  }
  .play-schedule-select{
    margin: 0;
    text-align: center;
    .day{
      cursor: pointer;
      display: inline-block;
      background-color: #fff;
      padding: 20px 10px;
      width: 20%;
      font-size: 20px;
      margin: 10px 10px;
      h4{
        margin: 10px 5px 15px;
      }
      .button{
        display: none;
        font-size: 18px;
        border-color: #fff;
        background-color: #fff;
        color: $accent-color;
        margin-top: 25px;
        padding: 5px 22px;
      }
      .slider-range{
        display: none;
        margin: 10px;
        height: 4px;
        border: none;
        .ui-widget-header{
          background-color: $emphasis-color;
        }
        .ui-slider-handle{
          width: 15px;
          height: 15px;
          border-radius: 15px;
          border: none;
          cursor: pointer;
        }
      }
      .time-range{
        display: none;
        font-size: 14px;
        font-weight: 300;
      }
      .show-time-range{
        display: block;
        color: #000;
      }
    }
    .day:hover{
      color: $accent-color;
    }
    .selected{
      background-color: $accent-color;
      color: #fff;
      h4{
        color: #fff;
      }
      .button{
        display: inline-block;
      }
      .time-range{
        display: block;
      }
      .slider-range{
        display: block;
      }
    }
    .selected:hover{
      color: #fff; 
    }
  }
  .directions{
    font-style: italic;
    font-weight: 100;
  }
  .slider-wrapper{
    width: 100%;
    clear: both;
    height: 49px;
    .slider-left{
      float: left;
      width: 15%;
    }
    .slider-right{
      float: left;
      width: 15%;
    }
  }
  .slider{
    margin-bottom: 35px;
    width: 70%;
    float: left;
    .ui-slider-handle{
      cursor: pointer;
    }
  }
  .ui-button{
    border-radius: none !important;
    color: #000;
    font-weight: 100;
    margin: 10px 15px;
  }
  .ui-button:hover{
    background-color: none;
  }
  .ui-state-active{
    background-color: $accent-color;
    color: #fff;
    border-color: $accent-color;
    border-radius: none;
  }
  
}