// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#index{
  text-align: center;
  padding-top: 10%;
  h1{
    color: $light-color;
    font-weight: 800;
    margin: 0 auto;
    font-size: 150px;
  }
  h2{
    font-weight:600;
    font-size: 45px;
    margin-top: 1%;
    color: $faded-color;
  }
  .button{
    font-size: 25px;
    margin-top: 5%;
    letter-spacing: 1px;
  }
}

#signUpModal{
  padding: 0;
  text-align: center;
  max-width: 650px;
  h2{
    letter-spacing: 1px;
    background-color: $accent-color;
    color: #fff;
    margin: 0 auto 25px;
    padding: 10px 0;
  }
  .user-form{
    padding: 20px 45px;
  }
  .button{
    margin-top: 0px;
    font-size: 25px;
    margin-bottom: -5px;
    letter-spacing: 1px;
    font-family: $header-font;
    width: 100%;
    font-weight: 300;
  }
  .form-element{
    label{
      float: left;
      clear: both;
      font-weight: 600;
      font-size: 15px;
    }
    input{
      float: right;
      clear: both;
      width: 75%;
      margin-top: -28px;
      margin-bottom: 38px;
    }
  }
  .signup-path{
    font-size: 23px;
    margin-bottom: 25px;
  }
  .close-reveal-modal{
    color: #fff;
  }
  #signupForm{display:none;}
  .privacy-explanation{
    width: 100%;
    float: left;
    margin-top: -28px;
    margin-bottom: 25px;
    font-style: italic;
  }
}

#about{
  background: #fff;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
  .about-item{
    text-align: center;
  }
  .clearfix{
    clear:both;
  }
  p{
    width: 75%;
    margin: 0 auto;
  }
  .about-works{
    p{
      width: 85%;
    }
  }
  .line-sep{
    border-top: 2px solid #000;
    width: 45%;
    margin: 0 auto 25px;
  }
  .wrapper{
    margin-bottom: 50px;
  }
  .mid-header{
    margin: 45px 0 0;
  }
  .subtext{
    margin-bottom: 25px;
    color: $faded-color;
  }
  #index{
    padding: 0;
    .button{
      margin-top: 25px;
    }
  }
}

