// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#index{
  text-align: center;
  padding-top: 10%;
  h1{
    color: $light-color;
    font-weight: 800;
    margin: 0 auto;
    font-size: 150px;
  }
  h2{
    font-weight:600;
    font-size: 45px;
    margin-top: 1%;
    color: $faded-color;
  }
  .button{
    font-size: 25px;
    margin-top: 5%;
    letter-spacing: 1px;
  }
}