<aside class="right-off-canvas-menu">
  <div class='close-nav'><a class='close-offcanvas-link'>&#215;</a></div>
    <ul class='off-canvas-list'>
      <li><%= link_to 'HOME', root_path %></li>
      <li><a href="#" data-reveal-id="signUpModal">FIND NEW FRIENDS</a></li>
      <li><a href="#">ABOUT SQDUP</a></li>
      <li><a href="#">BLOG</a></li>
      <li><a href="#">CONTACT US</a></li>
    </ul>
</aside>