<aside class="right-off-canvas-menu">
    <ul class='off-canvas-list'>
      <li><a href="#">HOME</a></li>
      <li><a href="#">FIND NEW FRIENDS</a></li>
      <li><a href="#">ABOUT SQDUP</a></li>
      <li><a href="#">BLOG</a></li>
      <li><a href="#">CONTACT US</a></li>
    </ul>
</aside>